<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>ATM Management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:include="navbar :: menu"></div>
<br>
<center>
    <h5>Available funds:</h5>
    <p th:text="${sumOfMoney} + ' ' + 'PLN'"></p>
    <br>
    <h6>Available banknotes:</h6>
    <p th:if="${availableBankNotes} != 'null'">
        <tr th:each="bankNote : ${availableBankNotes}">
            <td th:field="*{bankNote.denomination}"></td>
        </tr>
    </p>
    <!--<p th:if="${addedBankNotes} != 'null'">-->
        <!--<tr th:each="bankNote : ${addedBankNotes}">-->
            <!--<td th:text="${bankNote}"></td>-->
        <!--</tr>-->
    <!--</p>-->
    <br>
    <p th:if="${sumOfMoney} == '0'">Please consider adding some banknotes to the ATM.</p>
    </div>
</center>
</div>
</body>
</html>